body {
background-image: url("mybackground.jpg.jpg")
}
h1 {
  color: #6ad345; 
  text-align: center;
  font-family: "Lucida Console"  
}
p {
  color: #4d54b1;
    font-size: 25px;
    font-family: "Lucida Console";
    text-align: center;  
  border-style: solid;
  border-bottom: 3px solid #6ad345;
}
table {
  column-gap: 100px;
  border-style: solid;
 border: 3px solid #6ad345;
}
